<div class="container__tablero">
    <div  *ngFor="let titulo of titulos" class="card">
      <div class="card__header">
      <h5>{{titulo.nombre}}</h5>
    </div>
    <div class="card__body">
      <li class="card__items">Jugar</li>
      <li class="card__items">Comer</li>
      <li class="card__items">Limpiar</li>
    </div>
    <div class="card__footer">
      <!-- *ngIf="show; else show2" (click)="show = !show" -->
      <button  *ngIf="show; else show2" (click)="show=!show" class="btnAgregar">
        <span class="mas">+</span> 
        Añadir otra tarjeta {{show |json}}
      </button>

      <ng-template #show2>

      
      <form  class="formulario" autocomplete="off">
        
          <textarea cols="30" rows="3" 
                    autofocus 
                    wrap="hard"
                    placeholder="Introduzca un titulo para esta tarjeta"
                    class="formulario_textarea">
          </textarea>
        <button   class="">
          Añadir otra tarjeta 
        </button>
        <button (click)="show = !show"  class="">
          <i>X</i>
        </button>
        
      </form>
      </ng-template>
    </div>
  </div>
</div>