
  
    <div class="listItems_dragable">
      <li class="card__items">Jugar</li>
      <li class="card__items">Comer</li>
      <li class="card__items">Limpiar</li>
    </div>

    <div class="divBtns__form">
      
      <button  *ngIf="show; else show2" (click)="show = !show" class="btnAgregar">
        <span class="icon_mas">+</span> 
        Añadir otra tarjeta 
      </button>

      <ng-template #show2>
       <form  class="formulario"
              autocomplete="off"
              [formGroup]="">
        
          <textarea cols="30" rows="3" 
                    autofocus
                    wrap="hard"
                    placeholder="Introduzca un titulo para esta tarjeta"
                    class="formulario_textarea">
          </textarea>
          <div class="divBtnsForm">          
            <button   class="btnAddTask">
              Añadir otra tarjeta 
            </button>
            <button class="btnCancelSend" (click)="show = !show">
              <span>X</span>
            </button>
        </div>
      </form> 
      </ng-template>
    </div>


<!--  -->

<!-- <div  class="card">
<label *ngIf="show; else show2" (click)="show = !show">
  <i class="fas fa-plus"></i>
  Añada una tarjeta
</label>

<ng-template #show2>
  <form class="form" autocomplete="off" (ngSubmit)="addTask()" #form="ngForm">
    <textarea autofocus name="name" class="form_input" placeholder="Introduzca un titulo para esta tarjeta" cols="30"
      rows="10" wrap="hard" [(ngModel)]="tarea.task"></textarea>
    <button class="btn form_add">Añadir tarjeta</button>
    <button class="btn form_cancel" (click)="show = !show">
      <i class="fas fa-times"></i>
    </button>
  </form>
</ng-template>
</div> -->