<div class="loginPage">
  <app-formulario>

    <div class="div_form-img">
      <img class="form-img" src="./assets/icons/trello-logo.svg" alt="trello-logo">
    </div>
   
    <form class="formulario">
      <div class="div_formulario_title">
        <h4 class="formulario_title">Crea tu cuenta</h4>
      </div>
  
    
      <div class="form_data">
        <input class="form_input" type="text" placeholder="introduzca el correo electronico">
      </div>
    

      <div class="form_info">
        <span>Al registrarse, confirma que ha leído y aceptado nuestras
          <a href="">Condiciones del Servicio </a> y nuestra
          <a href="">Política de Privacidad.</a>
        </span>
      </div>
    
      <div class="form_submit">
        <button class="form_btn">Continual</button>
    
        <span class="o"> o </span>
    
      </div>
      <div class="div_singin">
        <button class="btn-singin form_btn">
          <img src="./assets/icons/google.svg" alt="iconos"> Continuar con Google</button>
        <button class="btn-singin form_btn">
          <img src="./assets/icons/microsoft.svg" alt="iconos"> Continuar con Microsoft</button>
        <button class="btn-singin form_btn">
          <img src="./assets/icons/apple-black.svg" alt="iconos"> Continuar con Apple</button>
        <div class="div_form-footer">
          <hr>
          <a href="">¿Ya tiene una cuenta? Inicie sesión</a>
        </div>
      </div>
    </form>

  </app-formulario>
</div>
