<app-navbar></app-navbar>
<section class="hero">
  <div class="home">
    <article class="home_art">
  <h1 class="hero_art_txt txt1">Trello permite que los equipos trabajen de forma más colaborativa y sean más
    productivos.</h1>
  <h2 class="hero_art_txt txt2">Las tarjetas, listas y tableros de Trello permiten que los equipos organicen y prioricen
    sus proyectos de forma
    divertida, flexible y provechosa.</h2>
    </article>
    <article class="home_art">
  <div class="divBanner">
    <img src="./assets/img/analisis-1.png" alt="img analisis-1">
  </div>
    </article>
  </div>
  
  <article class="home_art">
    <input class="hero_inputEmail" placeholder="Correo electronico" />
    <button routerLink="/singup" class="hero_btnRegister">Registrese. Es gratis!</button>
  </article>
  
</section>

<section class="trabaje">

  <article class="trabaje_img">
    <img src="./assets/img/tablas.png" alt="tablas">
  </article>

  <article class="trabaje_txt">
    <h2 class="trabaje_txt-h2">
      Trabaje con cualquier equipo
    </h2>
    <h3 class="trabaje_txt-h3">
      Ya sea para un trabajo, un proyecto o incluso las próximas vacaciones en familia, Trello ayuda a tu equipo a permanecer
      organizado.
    </h3>
    <button routerLink="/singup" class="trabaje_Btn btn">Empiece a <i class="fas fa-arrow-right"></i></button>
  </article>

</section>